@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

p {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
}

header .logo {
    margin: 0 auto;
    width: 150px;
}

main {
    width: 414px;
    margin: 0 auto;
}

main section {
    width: 300px;
    margin: 0 auto;
}

.section-2 {
    width: 414px;
    margin: 0 auto;
}

main section .margin-1 {
    margin: 15px 0;
}

section input {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #823ad5);
    outline: none;
}

main section .email-content p {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 15px;
}

section .email-content input {
    width: 300px;
    height: 41px;
    text-indent: 15px;
}

main section .password-content p {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 15px;
}

section .password-content input {
    width: 300px;
    height: 41px;
    text-indent: 15px;
    
}

section .txt-content {
    width: 100%;
    text-align: end;
}

section .txt-content p {
    font-weight: bold;
    font-size: 14px;
}

section .txt-content a {
    text-decoration: none;
    color: black;
    transition: all 300ms ease;
}

section .txt-content a:hover {
    color: #801ec2;
}

section .enter-btn {
    width: 300px;
}

section .enter-btn input {
    margin: 10px 0;
    width: 300px;
    height: 40px;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #823ad5);
    border-radius: 5px;
    background: transparent;
}

section .txt-content-2 {
    width: 100%;
    text-align: center;
}

section .txt-content-2 p {
    font-size: 13px;
}

section .txt-content-2 a {
    text-decoration: none;
    color: #823ad5;
}

section .txt-content-2 a:hover {
    color: #6836a1;
}

/*-------------- RESET PASSWORD---------------- */

header .back-icon {
    width: 414px;
    margin: 15px auto;
}

section .email-content-2 p {
    text-align: center;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 15px;
}

section .email-content-2 input {
    width: 300px;
    height: 41px;
    text-indent: 15px;
}

main section .password-content-2 p {
    text-align: center;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 15px;
}

section .password-content-2 input {
    width: 300px;
    height: 41px;
    text-indent: 15px;
    
}

section .password-confirm input {
    width: 300px;
    height: 41px;
    text-indent: 15px;

}

main section .password-confirm p {
    text-align: center;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 15px;
}

/*-----------FEED SCREEN-------------*/

header {
    margin: 15px 0 0 0;
}

.main-content {
    width: 414px;
    margin: auto;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #823ad5);
}

header .menu-content logo-2 {
    width: 88px;
    height: 35px;
}

header .menu-content {
    width: 375px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .menu-content ul {
    display: flex;
    align-items: center;
}

header .menu-content ul li {
    margin: 0 5px;
}

header .editar-perfil {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

main .publication-content {
    margin: 0 auto;
    padding: 17px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .publi .f-2 input {
    border: 1px solid #c4c4c4;
    height: 28px;
    text-indent: 10px;
    border-radius: 10px;
}

main .publication-content .publi {
    display: flex;
    align-items: center;
}

main .publication-content .publi .f-1 {
    margin-right: 15px;
}

main .publication-content .f-3 input {
    width: 78px;
    height: 30px;
    border: 1px solid #743ad5;
    border-radius: 100px;
    background: transparent;
}

main .publication-area .p-all {
    width: 353px;
    margin: 0 auto;
    padding: 12px 12px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.publication-area .p-all .user-content {
    display: flex;
    align-items: center;
}

.publication-area .p-all .user-content-2 {
    display: flex;
    align-items: center;
}

.publication-area .p-all .user-perfil {
    margin-right: 10px;
}

.publication-area .p-all .user-content .username h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-right: 5px;
}

.publication-area .p-all .user-content-2 .username h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-right: 5px;
}

.publication-area .p-all .user-content .user p {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

.publication-area .p-all .information-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    width: 296px;
    height: 18px;
}

.share-content {
    width: 290px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #823ad5);
}

.share-content .user-information {
    display: flex;
    width: 171px;
    align-items: center;
    justify-content: space-between;

}


.publication-area .p-all .information-user .icone-options {
   position: relative;
   display: inline-block;
}

.publication-area .p-all .information-user .menu-close {
    position: absolute;
    display: none;
    width: 170px;
    height: 150px;
    background-color: white;
    border: 1px solid gray;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.publication-area .p-all .information-user .menu-close:hover {
    display: block;
}

.publication-area .dropdown-content img {
    width: 12px;
    height: 12px;
}




.publication-area .menu-close .options {
    
}

.publication-area .menu-close .a-options {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 159px;
    height: 15px;
}

.menu-close {
   
}

main .publication-area .p-all .p-txt {
    padding: 10px 10px 0;
}

main .publication-area .p-all .p-txt p {
    font-size: 12px;
}

.publication-area .p-all .grid-2 {
    width: 290px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: -825%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
  }

  .dropdown .img-options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
  }
  
  .dropdown-content a {
    font-size: 12px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .icf-container {
    width: 414px;
  }

  .icf-container .icf-img {
    width: 217px;
    margin: 0 auto;
    padding: 8px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

  .icf-img .icon-c {
    display: flex;
    align-items: center;
  }

  .icf-img .icon-c .img-m {
    margin-right: 8px;
  }

  .icf-img .icon-c .img-m img {
    width: 15px;
    height: 15px;
  }

  .icf-img .icon-c .value p {
    font-size: 14px;
    color: #9c9c9c;
  }

  .header-n {
    width: 375px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  header .notification h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  header .notification {
    margin: auto;
  }

  section .temp h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 0;
  }

  section .qne {
    width: 270px;
    padding: 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main .section-p {
    font-family: 'Roboto', sans-serif;
    width: 414px;
    height: 168px;
    display: flex;
  }

  .border-1 {
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #823ad5);
  }

  .section-p .information-container {
    width: 207px;
  }

  .section-p .c1 .pf-3 {
    width: 75px;
    margin: 0 0 0 13px;
  }

  .section-p .c1 .pf-3 img {
    width: 75px;
    height: 75px;
  }

  .section-p .c1 .c1-content {
    width: 177px;
    margin: 0 auto;
    padding: 15px;
  }

  .n-u {
    padding: 10px 0 5px;
  }

  .n-u h1 {
    font-size: 16px;
  }

  .p-user {
    color: #c4c4c4;
  }

  .section-p .c2 .c2-content {
    width: 88px;
    margin: 0 auto;
    padding: 40px 0 15px;
  }

  .section-p .c2 .c2-content h1 {
    font-size: 18px;
    text-align: center;
  }

  .section-p .c2 .c2-content p {
    font-size: 15px;
    color: #c4c4c4;
    text-align: center;
  }

  .section-p .c2 .btn-ep {
    margin: 0 auto;
    width: 171px;
  }

  .section-p .c2 input {
    width: 171px;
    height: 28px;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #823ad5);
  }

  .section-p .c1 .pf-4 {
    margin: auto;
  }

  .section-ep {
    display: flex;
    justify-content: center;
  }

  .section-ep-2 .input-1 p {
    font-size: 15px;
    color: #c4c4c4;
  }

  .section-ep-2 .input-1 input {
      width: 300px;
  }